.App {
  text-align: center;
  background-image: url(fondo-patitas.jpg);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 10px 0 10px;
  padding: 10px;
  max-width: 95vw;
  width: fit-content;
  height: fit-content;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 15px;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}
